.DS_Store
.ipynb_checkpoints/
*.ipynb
__pycache__/
*.db*
.vscode/
*conf.json
todo.md
*.mp3
tests/
!tests/web_api/services
projet.md
end_of_year_report.py
requirements2.txt
test_logs.py
task_logs.py
add_uuid.py
db_transfer.py
