.DS_Store
.ipynb_checkpoints/
*.ipynb
__pycache__/
*.db*
.vscode/
*conf.json
todo.md
*.mp3
tests/
!tests/shared/services/test_month_stats_service.py
!tests/shared/services/test_year_stats_service.py
projet.md
end_of_year_report.py
requirements2.txt
test_logs.py
task_logs.py
add_uuid.py
db_transfer.py
